.section-product{
    background: $colorBrown3;
    padding: 3rem 0;

    .title-heading{
        padding-bottom: 3rem;
    }

    .product-list{
        .card{
            margin: 0 1rem;
        }
    }
}

.section-contact-us{
    padding: 3rem 0;
}