// Main
html, body{
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr{
    opacity: unset;
    margin: 0;
}
// Config
@import "medium/configs/color";

// Elements
@import "medium/elements/header";
@import "medium/elements/button";
@import "medium/elements/helper";